.logo {
    width: 60px;
    vertical-align: middle;
    padding: 8px;
}

.image img{
    width: 70%;
}

header{
    background-color: #2c7bca;
    height: 100px;
    width: 100%;
    margin: 0px 0px 8px 0px;
}

h2{
   margin: 0; 
}

p{
    margin: 0;
}

hr{
    margin: 50px auto;
}

.row [class^="col"].col-4.center-box{
    margin: 0px 4%;
    height: 250px;;
}

.row.center-box{
    padding: 20px 0px;
}

.button{
    border-radius: 8px;
    background-color: #2c7bca;
    transition-duration: 0.4s;
    padding: 8px;
    margin: 16px;

}

.button:hover {
    background-color: #225a92; /* Green */
    color: white;
  }


.box1{
    border-radius: 8px;
    background-color: #eeeeeefb;
    padding: 8px;
    margin: 8px;
}

.box2{
    border-radius: 8px;
    background-color: #e2e2e2;
    padding: 8px 4px 4px 8px;
    margin: 8px;
    overflow: auto;
}

.row [class^="col"].col-1.image{
    margin: 8px 0px 0px 8px;
}

.title{
    font-size: 18px;
    font-weight: bold;
}

.desc{
    font-size: 13px;
}

.big-title{
    font-size: 24px;
    font-weight: bold;
}

.big-desc{
    font-size: 16px;
}

span.validation {
    display:inline-block;
    color: #b94a48;
    font-weight: bold;
    margin: auto;
    width: 100%;
    text-align: center;
}
