{% extends 'base.html' %}
{% block body %}

<!-- Contenu principal -->

<div class="row box1">
  <p> Pour ajouter un flux, cliquez <a href="{{ url_for('addFlux') }}">ici</a> !</p>
</div>

<div class=" row box1">
  {% if ( flux|length == 0) %}
    <!--Si l'utilisateur n'a aucun flux-->
    <p>Vous n'avez aucun flux, ajoutez-en ! ;)</p>
  {% else %}
    <!--On affiche chaque flux de l'utilisateur-->
    {% for flu in flux %}
      <div class="row">
        <div class="box2">
          <div class="col-1 image">
            {% if flu.feed.image %}
              <img src="{{ flu.feed.image.url }}" alt="{{ flu.feed.image.title }}">
            {% else%}
              <img src="{{ url_for('static', filename='img/no_img.png') }}" alt="no logo">
            {% endif %}
          </div>
          <div class="col-8">
            <div class="title">
              {{ flu.feed.title }}
            </div>
            <div class="desc">
              {{ flu.feed.description }}
            </div>
          </div>
          <div class="col-3">
            <div class="right">
              <a href="{{ url_for('deleteFlux',flux_id=fluxEntities[loop.index-1].id ) }}">Supprimer</a>
            </div>
            <div class="right">
              <a href="{{ url_for('showFlux',flux_id=fluxEntities[loop.index-1].id ) }}">Consulter</a>
            </div>
          </div>          
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}