{% extends 'base.html' %}
{% block body %}
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4 center-box">
      <form method="POST">
        <h3 class="center">Ajout d'un flux</h3>
          {% for field in form %}
            <div class="row center">
              {% if field.widget.input_type != 'hidden' %}
                  <div class="col-6">
                    {{ field.label() }}
                  </div>
                  {% if field.errors %}
                      {% for error in field.errors %}
                        <div class="alert alert-error">{{ error }}</div>
                      {% endfor %}
                  {% endif %}
              {% endif %}
              <div class="col-6">
                {{ field() }}
              </div>              
            </div>
          {% endfor %}
          <div class="row center">
            <button class="button"type="submit">Ajouter un flux</button>
          </div>
      </form>
    </div>  
  </div>
{% endblock %}