<!DOCTYPE html>
<html>
    <head>
        <title>Web RSS</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/simple-grid.css') }}" />
    </head>
    <body>
        <header>
            <div class="row"> 
                <div class="col-1 col-1-sm">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('account')}}"><img class="logo" src="{{ url_for('static', filename='img/logo_rss.png') }}"></a>
                    {% else %}
                        <a href="{{ url_for('index')}}"><img class="logo" src="{{ url_for('static', filename='img/logo_rss.png') }}"></a>
                    {% endif %}
                </div>
                <div class="col-8 col-8-sm">
                    <div class="row">
                        <h2>Chain RSS</h2>
                    </div>
                    <div class="row">
                        <p>Add flux and consult them !</p>
                    </div>
                </div>
                <div class="col-3 col-3-sm right">
                    {% if current_user.is_authenticated %}
                        Connecté en tant que, {{ current_user.name }}                        
                    {% endif %}
                </div>
                <div class="col-3 col-3-sm right">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}">Se déconnecter</a>                        
                    {% endif %}
                </div>
            </div>

        </header>
        <main>
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>            
        </main> 
        <footer>
            <div class="center">
                <hr width="70%">
                <p>&copy; Copyright 2020 </p>
            </div>            
        </footer>
    </body>
</html>