{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4 center-box center">
        <h3>Veuillez vous connecter ou vous inscrire </h3>
        <div class="row center-box">
            <a class="button" href="{{ url_for('login') }}">Se connecter</a>
        </div>
        <div class="row center-box">
            <a class="button" href="{{ url_for('register')}}">Créer un compte</a>
        </div>
    </div>
    <div class="col-4">

    </div>
</div>



{% endblock %}