{% extends 'base.html' %}
{% block body %}
  <!-- form de connexion -->
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4 center-box">
      <form method="POST">
        <h3 class="center">Connexion</h3>
        {% for message in get_flashed_messages() %}
          <span class="validation">{{ message }}</span>
        {% endfor %}
        {% for field in form %}
          <div class="row center">
            {% if field.widget.input_type != 'hidden' %}
              <div class="col-6">
                {{ field.label() }}
              </div>
              {% if field.errors %}
                {% for error in field.errors %}
                  <div class="alert alert-error">{{ error }}</div>
                {% endfor %}
              {% endif %}
            {% endif %}
            <div class="col-6">
              {{ field() }}
            </div>
          </div>
        {% endfor %}
        <div class="row center">
          <button class="button" type="submit">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
  
{% endblock %}

