{% extends 'base.html' %}
{% block body %}

<!-- Contenu principal -->

<div class=" row box1">
    <div class="box2">
        <div class="big-title">
            {{ flux.feed.title }}
        </div>
        <div class="big-desc">
            {{ flux.feed.description }}
        </div>
    </div>

    {% for item in flux.entries %}
    <div class="box2">
        <div class="row">
            <a href="{{item.link}}"><p class="title">{{ item.title}}</p></a>
        </div>
        <div class="row">
            {{item.description|safe}}
        </div>
    </div>
    {% endfor %}
 
</div>
{% endblock %}